<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create order</title>
    <style>
        input {
            margin: 10px;
        }

        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            display: flex;
        }

        .left-panel {
            width: 40%;
            border-right: 2px solid black;
            padding: 10px;
            box-sizing: border-box;
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            padding: 10px;
            width: 60%;
            box-sizing: border-box;
        }

        .grid-item {
            background-color: #f2f2f2;
            border: 1px solid #ccc;
            padding: 20px;
            text-align: center;
        }

        .statusMessageOrder {
            display: none;
            color: red;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
</head>
<body>

<div class="left-panel">

    <p>You're order</p>

    <div class="grid-left-pane-item" id="orderItemsContainer">

        <p>You're order is empty</p>
        <br>
        <!-- Пустая панель для элементов заказа -->
    </div>

    <br>

    <p class="totalPrice" style="display: none">0</p>

    <button class="submitButton" type="button" onclick="sendOrder()" style="display: none">Send order</button>
    <p class="orderStatus" style="display: none">Order status</p>
</div>

<div class="grid-container">
    <div class="grid-container">
        <div class="grid-item">
            <form id="orderForm" th:object="${order}" th:method="POST" th:action="@{/order/add}" th:each="item : ${orderService.findAllItems()}">
                <p class="item-subject" th:text="${item.subject}">Subject</p>
                <p class="item-price" th:text="${item.price}">Price</p>
                <label for="count">Product quantity</label>
                <input id="count" type="number" min="0" value="0" th:field="*{quantity}">
                <button type="button" onclick="addToOrder(this)">Add to cart</button>
                <p class="statusMessageItems" style="display: none; color: red">Everything is fine</p>
            </form>

            <br>
            <p class="statusMessageOrder">No items in the order.</p>
        </div>
    </div>
</div>

<script>
    let serverAvailable = true;

    function addToOrder(button) {
        const form = button.closest('form');
        const quantity = form.querySelector('#count').value;
        const subject = form.querySelector('.item-subject').textContent;

        fetch('/order/add', {
            method: 'POST',
            headers: {
                'Content-type': 'application/json'
            },
            body: JSON.stringify({
                nameOfItem: subject,
                quantity: quantity
            })
        })
            .then(response => {
                if (!response.ok) {
                    return response.json().then(err => {
                        throw new Error(err.message);
                    });
                }
                return response.json();
            })
            .then(data => {
                console.log('Success:', data);
                form.querySelector('.statusMessageItems').style.display = 'none';
                showItemsInOrder();
            })
            .catch((error) => {
                console.error('Error:', error);
                const errorMessageElement = form.querySelector('.statusMessageItems');
                errorMessageElement.style.display = 'block';
                errorMessageElement.textContent = error.message;
            });
    }

    function showItemsInOrder() {
        fetch('/order/show', {
            method: 'GET'
        })
            .then(response => {
                if (!response.ok) {
                    return response.json().then(err => {
                        throw new Error(err.message);
                    });
                }
                return response.json();
            })
            .then(data => {
                console.log('Success:', data);
                const orderItemsContainer = document.getElementById('orderItemsContainer');
                orderItemsContainer.innerHTML = '';  // Очищаем контейнер перед добавлением новых элементов

                if (data.length === 0) {
                    document.querySelector('.statusMessageOrder').style.display = 'block';
                } else {
                    document.querySelector('.statusMessageOrder').style.display = 'none';
                    let totalPrice = 0;
                    data.forEach(itemDTO => {
                        const itemName = itemDTO.subject;  // Получаем имя предмета из DTO
                        const quantity = itemDTO.quantity;
                        const price = itemDTO.price;

                        const itemElement = document.createElement('p');
                        const priceWithQuantity = price * quantity;
                        itemElement.textContent = 'Subject: ' + itemName + " ,quantity: " + quantity + ' ,price: ' + priceWithQuantity;
                        totalPrice += priceWithQuantity;
                        orderItemsContainer.appendChild(itemElement);
                    });

                    document.querySelector('.totalPrice').textContent = 'Total price: ' + totalPrice;
                    document.querySelector('.totalPrice').style.display = 'block'
                    document.querySelector('.submitButton').style.display = 'block';
                }
            })
            .catch((error) => {
                console.log('Error:', error);
                const errorMessageElement = document.querySelector('.statusMessageOrder');
                errorMessageElement.style.display = 'block';
                errorMessageElement.textContent = "An error occurred: " + error.message;
            });
    }

    function sendOrder() {
        fetch('/order/sendOrder',{
            method:'POST'
            }
        )
            .then(() => {
                document.querySelector('.orderStatus').textContent = '';
                    fetchOrderStatus();
                }
            )
    }

    function checkServerStatus() {
        return fetch('/order/getStatus', { method: 'HEAD' })
            .then(response => {
                serverAvailable = response.ok; // Обновляем флаг
            })
            .catch(() => {
                serverAvailable = false; // Сервер недоступен
            });
    }

    function fetchOrderStatus() {
        // Прекращаем выполнение функции, если сервер недоступен
        if (!serverAvailable) {
            console.error('Server is not available. Stopping further requests.');
            return; // Прекращаем выполнение
        }

        fetch('/order/getStatus', { method: 'GET' })
            .then(response => response.text())
            .then(status => {
                document.querySelector('.orderStatus').style.display = 'block';
                document.querySelector('.orderStatus').textContent = status;

                if (status === "Order complete")
                    clearInterval(checkStatusInterval);

            })
            .catch(error => console.error('Error fetching status:', error));
    }

    let checkStatusInterval = null;
    checkServerStatus().then(() => {
        if (serverAvailable) {
            // Выполняем проверку статуса заказа каждые 5 секунд
            checkStatusInterval = setInterval(() => {
                // Перед каждым запросом проверяем доступность сервера
                checkServerStatus().then(() => {
                    fetchOrderStatus();
                });
            }, 5000);
        } else {
            console.error('Server is not available initially. No requests will be made.');
        }
    });
</script>

</body>
</html>
